.hover-underline-animation{
  position: relative;
}
.hover-underline-animation:hover{
  color: rgb(249 115 22);
  transition: all 0.3s ease-in;
}

.hover-underline-animation::after{
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;  
  left: 0;
  background-color: rgb(249 115 22);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.hover-underline-animation:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
